<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Skyline/src/no/ntnu/skyline/Experiment2Distribtions.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="/home/stianlik/Prosjekter/master/impl/results/processed/inputs/acorr_5d_10k"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="no.ntnu.skyline.Experiment2Distribtions"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="acorr"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Skyline"/>
</launchConfiguration>
